body {
    font-family: Helvetica;
   background-color: ghostwhite;
}

input[type="search"] {
    position: relative;
    top: 100px;
    left: 40px;
    background-color: rgba(228, 228, 228, 0.8);
    color: darkblue;
}
input[type="search"].haserror{
    background-color: red;
}

.Label {
    position: relative;
    left: 40px;
    top: 80px;

}
label.haserror{
    border-bottom: 2px solid red;
}
.Button { 
    position: relative;
    left: 40px;
    top: 120px;
}

h1 {
    position: relative;
    text-align: center;
    top: 30px;
    font-size: 45;
    text-decoration: lightgrey underline;

}

a {
    position: relative;
    top: 120px;
    font-size: 10;
    left: 40px;
    color: darkgrey;
}
